<section class='min-h-screen w-full relative' id='about'>
  <img alt='' class='absolute w-full h-full top-0 left-0 object-center object-cover' src='/assets/images/slide4.jpg'>
  <div class='absolute w-full h-full p-8 sm:p-10 bg-black bg-opacity-30'>
    <div class='w-full md:w-2/3 lg:w-1/2 h-full flex flex-col justify-center items-center m-auto'>
      <h4 class='text-3xl md:text-4xl mb-6 text-white'>Who we are?</h4>
      <p class='text-md text-white opacity-80 leading-10 relative italic'>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta atque officia blanditiis asperiores non, rem et temporibus, eum facere esse cupiditate id, corrupti nesciunt? Tempore magni neque architecto sunt.
        <ion-icon class='text-4xl md:text-6xl text-primary absolute top-0 left-0 transform -translate-x-1/2' src='/assets/images/quote.svg' style='z-index: -1;'></ion-icon>
      </p>
    </div>
  </div>
</section>