  <section class='section pb-2/3 sm:pb-1/2 md:pb-1/3 relative ' data-aos-duration='1200' data-aos='flip-left'>
    <div class='absolute w-full h-full top-0' style='background-image: url({{event.image}}); background-position: center; background-repeat: no-repeat; background-size: cover;'></div>
    <div class='absolute w-full h-full top-0 bg-black bg-opacity-30 flex items-center justify-center flex-col px-8 sm:px-20 md:px-1/4 '>
      <h3 class='text-4xl lg:text-6xl text-white mb-4 font-bold' data-aos-delay='200' data-aos='fade-down'>SALE</h3>
      <p class='text-sm sm:text-md text-white mb-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, facilis! Dolores quidem nostrum reprehenderit vero cum quam? Est dignissimos architecto maiores, quia odit tempore, fugiat labore ducimus molestias quibusdam aliquam.</p>
      <p class='text-md sm:text-xl text-white lg:text-2xl mb-6'>01/01/2021 - 01/01/2022</p>
      <span data-aos-delay='300' data-aos='fade-up'>
        <a class='duration-300 transition bg-primary border-primary hover:bg-secondary text-white font-medium py-3 px-10' href='#collections'>
          Shop Now
        </a>
      </span>
    </div>
  </section>