<div id="app" class="bg-white w-128 h-60 rounded shadow-md flex card text-grey-darkest">
	<img class="w-1/2 h-full rounded-l-sm" src="{{url}}" alt="Room Image">
	<div class="w-full flex flex-col">
		<div class="p-4 pb-0 flex-1">
			<h3 class="font-light mb-1 text-grey-darkest">Tower Hotel</h3>
			<div class="text-xs flex items-center mb-4">
				<ion-icon name="location-outline" size="large" class="stroke-current text-gray-600 mr-1"></ion-icon>Boon Lay, Singapore
			</div>
			<span class="text-3xl text-grey-darkest">SGD200<span class="text-lg">/PPPN</span></span>
			<div class="flex items-center mt-4">
				<div class="pr-2 text-xs">
					<ion-icon name="wifi" class="stroke-current text-green-600" size="small"></ion-icon>Free Wifi
				</div>
				<div class="px-2 text-xs">
					<ion-icon name="train" size="small" class="stroke-current text-gray-600"></ion-icon>2 mins to center
				</div>
			</div>
		</div>
		<div id=booknow class="bg-gray-100 p-3 flex items-center justify-between transition hover:bg-gray-300">
			Book Now
			<ion-icon name="chevron-forward-outline" size="large"></ion-icon>
		</div>
	</div>
</div>
